/* BookingForm.css */
.booking-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .booking-form-modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  .movie-image {
    width: 100%;
    /* max-width: 200px; */
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .booking-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-form-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    color: #888;
  }
  
  .booking-form-content {
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .book-now-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
  }
  
  .book-now-button:hover {
    background-color: #0056b3;
  }
  .booking-form-content {
    display: flex;
    align-items: flex-start;
  }
  
  .form-image {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .form-image img {
    /* width: 100%; */
    height: auto;
  }
  
  .form-inputs {
    flex: 2;
    padding: 20px;
  }